html,body{padding:0px;margin:0px;font-family:arial;height:100%;}
html,body,div{position:relative;}
div#content{position:absolute;top:74px;left:0px;right:0px;bottom:0px;overflow-y:auto;}
div#wrapper{border-bottom:3px solid #eee;color:#fff;height:74px;}
div#loginbox{width:300px;background-color:#e6e6e6;padding:30px;text-align:right;margin:50px auto;}
div#loginbox input{width:100%;box-sizing:border-box;padding:5px;border:1px solid #aaa;margin-top:10px;}
div#loginbox button{margin-top:20px;}
button{border:1px solid #aaa;padding: 5px 15px;background-color: #f8f8f8;color: #333;}
button:hover{cursor:pointer;background-color: #ccc;color: #333;}
div.controls{padding:10px;border-bottom:3px solid #eee;}
div.tableView{padding:5px;}
select{box-sizing:border-box;padding:5px;}
input.regInput{box-sizing:border-box;width:200px;padding:5px;}
span.infoLabel{color:#bbb;font-weight:bold;display:inline-block;padding:5px}
span.detailLabel{color:#ddd;display:inline-block;padding:5px}